{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | LarkAI</title>

    <script src="{%static 'js/jquery.magnific-popup.min.js'%}"></script>
    <script src="{%static 'js/jquery.min.js'%}"></script>
    <link href="{%static 'css/keyboard-dark.css' %}" rel="stylesheet">
    <script src="{%static 'js/jquery.keyboard.js' %}"></script>
    <script src="{%static 'js/loader.js' %}"></script>
    <link href="{%static 'css/keyboard-previewkeyset.css' %}" rel="stylesheet">
    <script src="{%static 'js/jquery.keyboard.extension-all.js' %}"></script>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <!-- <link href="{%static 'css/main1.css'%}" rel="stylesheet" media="all"> -->
    <!-- <link rel="stylesheet" href="{%static 'css/home.css'%}"> -->
    <!-- <link rel="stylesheet" href="{%static 'css/doc_reg2.css'%}" /> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="{%static 'css/doc_login.css'%}" />

    <style>
        .logo>img {
            height: 59px;
        }

        .top-bar {
            height: 50px;
            box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 6px 0px, rgb(218, 220, 224) 0px -1px 0px 0px inset;
        }

        .heading {
            font-family: 'Quicksand', sans-serif;
            margin-top: 1%;
        }

        .heading>h1 {
            font-size: 25px;
            font-weight: 700;
            color: #0b5fa5;
        }

        .dtm {
            display: flex;
            flex-direction: column;
            font-size: 11px;
            font-family: cursive;
            margin-top: 4px;
        }

        .date {
            color: black;
            font-size: 15px;
        }

        .card-body,
        .title {
            background-color: #3EECAC;
            background-image: linear-gradient(19deg, #3EECAC 0%, #EE74E1 100%);
        }

        #head {
            position: relative;
            top: -40px;
        }

        .formBody {
            top: -20px;
        }

        .formInput input {
            width: 100%;
        }

        #gender {
            border: 2px solid #2B3993;
            padding: 5px 10px;
            border-radius: 4px;
        }
    </style>
</head>

<body>
    <!-- LOADER -->
    <div id="preloader">
        <div class="preloader pulse">
            <h3>Welcome to your clinic 🙏</h3>
        </div>
    </div>
    <!-- END LOADER -->

    <div>
        <div class="p_count" style="text-align: right;">
            {% for message in messages %}
            <h1 style="color: black;">{{message}} trials left</h1>
            {%endfor%}
        </div>
        <div class="loginForm">
            <form method="POST" action="{%url 'home'%}">
                {% csrf_token %}
                <div class="formHead">
                    <div style="text-align: center;" class="logo">
                        <span><img style="height: 76px; justify-items: center" src="{% static 'img/heart.svg' %}"
                                alt="heart-logo" /></span>
                    </div>
                </div>
                <h1 style="text-align: center;color:#ED4D53;font-family: 'Alegreya', serif;" id="head">Patient
                    Registration</h1>
                <!-- <form method="POST" action="{%url 'home'%}">
            {% csrf_token %} -->
                <div class="formBody">
                    <div class="name-email">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="formInput">
                                        <div>First name</div>
                                        <input style="color: black;" id="name" name="name" required type="text"
                                            maxlength="35" required />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="formInput">
                                        <div>Last name</div>
                                        <input style="color: black;" id="name" name="name" required type="text"
                                            maxlength="35" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="container">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="formInput">
                                        <div>Age</div>
                                        <input style="color: black;" id="age" type="number" required />
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="formInput">
                                        <div>Email</div>
                                        <input style="color: black;" id="email" type="email" />
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="formInput">
                                    <div>Gender</div>
                                    <select name="gender" id="gender" name="gender" required>
                                        <option value="" selected></option>
                                        <option value="male">Male</option>
                                        <option value="female">Female</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="formInput">
                                    <div>Phone Number</div>
                                    <input style="color: black;" id="phone" maxlength="30" name="phone" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="loginButton">
                        <a href="/reading">
                            <button>Register</button>
                        </a>
                    </div>
                </div>
            </form>
        </div>

    </div>
    <script>
        console.log("Working")
        $('#name').keyboard({
            display: {
                'bksp': "\u2190",
                'accept': 'enter',
                'normal': 'ABC',
                'meta1': '.?123',
                'meta2': '#+='
            },
            layout: 'custom',
            customLayout: {
                'normal': [
                    'q w e r t y u i o p {bksp}',
                    'a s d f g h j k l ',
                    'z x c v b n m , .',
                    '{c} {meta1} {space} {a}'
                ],
                'shift': [
                    'Q W E R T Y U I O P {bksp}',
                    'A S D F G H J K L ',
                    'Z X C V B N M ! ?',
                    '{meta1} {space} {a}'
                ],
                'meta1': [
                    '1 2 3 4 5 6 7 8 9 0 {bksp}',
                    '- / : ; ( ) \u20ac & @ ',
                    '{meta2} . , ? ! \' " {meta2}',
                    '{normal} {space} {a}'
                ],
                'meta2': [
                    '[ ] { } # % ^ * + = {bksp}',
                    '_ \\ | ~ < > $ \u00a3 \u00a5 ',
                    '{meta1} . , ? ! \' " {meta1}',
                    '{normal} {space} {a}'
                ]
            }

        })
        $('#age').keyboard({
            layout: 'custom',
            customLayout: {
                'normal': [
                    '7 8 9',
                    '4 5 6',
                    '1 2 3',
                    '0 {bksp}',
                    '{c} {a}'
                ]
            },
            maxLength: 3,

            // activate the "validate" callback function
            acceptValid: true,
            validate: function (keyboard, value, isClosing) {
                // only make valid if input is 6 characters in length
                return 1 <= value.length <= 3;
            }
        }).addTyping();
        $('#phone').keyboard({
            layout: 'custom',
            customLayout: {
                'normal': [
                    '7 8 9',
                    '4 5 6',
                    '1 2 3',
                    '0 {bksp}',
                    '{c} {a}'
                ]
            },
            maxLength: 10,

            // activate the "validate" callback function
            acceptValid: true,
            validate: function (keyboard, value, isClosing) {
                // only make valid if input is 6 characters in length
                return value.length === 10;
            }
        }).addTyping();

        console.log("worked")
    </script>

    <!-- <script src="{% static 'js/date.js' %}"></script> -->
</body>
</body>

</html>